.container{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  background: url('../assets/images/background-pattern-mobile.svg') no-repeat;
  width: 100%;
  min-height: 232px;
}
article header{
  background: unset;
}