@import url(../css/variable.css);
@import url(../css/media.css);
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300,500;1,300&display=swap');
body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: var(--Light-pink);
}
.container{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header.head{
  background: url('../assets/images/background-pattern-mobile.svg') no-repeat;
  width: 100%;
  min-height: 232px;
  max-width: 375px;
  margin-bottom: 10px;
}
main{
  background: var(--White);
  margin:-100px 20px 0;
  align-self: center;
  max-width: 375px;
  border-radius: 10px;
}
main h1,
main h2,
main h3,
main h4,
main h5{
  font-size: 1.7rem;
  font-weight: 500;
  padding:10px;
  display: flex;
  justify-content: space-between;
  line-height: 2;;
}
main h2,
main h3,
main h4,
main h5{
  cursor: pointer;
}
main h2::after,
main h3::after,
main h4::after,
main h5::after{
  display: inline-block;
  content: "";
  background:url('../assets/images/icon-plus.svg');
  width: 30px;
  height: 31px;
}
section{
  border-bottom:2px solid var(--Light-pink);
  border-radius: 5px;
  width: 98%;
  display: flex;
  flex-direction: column;
}
.hidden{
  display: none;
}
@media (min-width: 375px) {
    header.head{
        background:url('../assets/images/background-pattern-desktop.svg');
        max-width:1440px ;
        max-height: 32px;
    }
    main{
        max-width: 750px;
    }
}