
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*, html{
    margin:0;
    padding:0;
}
body{
    font-size: 16px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}
.container{
   height: 100%;
   background: url('../assets/images/background-pattern-mobile.svg') repeat-x;
   background-color: hsl(275, 100%, 97%)
}

main{
    max-width: 375px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section h1,
.content{
    padding:20px 0;
}
button{
    border:0;
    padding:20px 0;
    cursor: pointer;
    background:white;
    text-align: left;
    position: relative;
}
div:has(.accordion-button){
    border-bottom: 2px solid lightgray;
    background-color: white;
}
.plus,
.minus{
    /* display: flex;
    align-content: center; */
}
.plus{
    background: url('../assets/images/icon-plus.svg') no-repeat;
    position: absolute;
    width: 30px;
    height: 31px;

}
.minus{
    background-image: url('../assets/images/icon-minus.svg');
    width: 30px;
    height: 31px;
}
.hide{
    display: none;
}
.show{
    display: block;
}